<button mat-fab printSectionId="minimal" ngxPrint>Basico</button>
<button mat-button printSectionId="changeTitle" ngxPrint printTitle="Outro Titulo">Trocar titulo</button>
<button mat-button printSectionId="cssline" ngxPrint [printStyle]="{h4 : {'border': 'solid 1px'}}">Css in
  line</button>
<button mat-button printSectionId="cssInherit" [useExistingCss]="true" ngxPrint>Css herdado</button>
<button mat-button printSectionId="cssExternal" styleSheetFile="assets/externalcss.scss" ngxPrint>Css externo</button>


<div id="minimal" style="display: none;">
  <h4>Exemplo minimo</h4>
</div>

<div id="changeTitle" style="display: none;">
  <h4>Exemplo trocar título página</h4>
</div>

<div id="cssline" style="display: none;">
  <h4>Exemplo css in line</h4>
</div>

<div style="display: none;" id="cssInherit">
  <h4 id="inherit">Exemplo css herdado</h4>
</div>

<div style="display: none;" id="cssExternal">
  <h4>Exemplo css externo</h4>
</div>